conda {
  conda.enabled = true
}

manifest {
  name = 'smash_viz'
  defaultBranch = 'main'
  description = 'This Nextflow script and associated code utilize the raw data used by `smash` to produce more refined and modifiable graphs via `conda`, `R`, and `ggplot2`.'
  nextflowVersion = '22.04+'
  author = 'Ryan A. Hagenson'
}